body {
    margin: 0;
    text-align:center;
    font-family: 'Merriweather', serif;
}


h1 {
    font-size: 90px;
    margin: 0 auto;
    font-family: 'Sacramento', cursive;
}

h2, h3,h4, h5, h6, h7, p {
    font-family: 'Montserrat', cursive;
}

.top {
    margin: auto;
    background-color: #ECF9FF;
    padding: 20px;
    border: solid;
    height: 280px;
    color: #071A52;
    position: relative;
    top: 10px;
    margin-right: 15px;
    margin-left: 15px;
}

.middle {
    margin: auto;
    background-color: #FFFBEB;
    padding: 20px;
    border: solid;
    min-height: 270px;
    overflow: auto;
    position: relative;
    top: 20px;
    margin-right: 15px;
    margin-left: 15px;
}

.container {
    margin: auto;
    display: flex;
    align-items: stretch;
    width: 100%;
    position: relative;
    top: 30px;
}

.first, .second, .third, .fourth {
    display: block;
    overflow: auto;
    flex-grow: 1;
    display: inline-block;
    background-color: #FFE7CC;
    padding: 10px 10px 20px 10px;
    border: solid;
}

.first {
    margin-right: 10px;
}

.third {
    margin-left: 10px;
}

.fourth {
    margin-left: 10px;
}

.bottom2 {
    margin: auto;
    background-color: #F8CBA6;
    padding: 20px;
    border: solid;
    height: 200px;
    position: relative;
    top: 40px;
    margin-right: 15px;
    margin-left: 15px;
}

.cloud1-img {
    position: relative;
    left: 240px;
    top: 20px;
}

.cloud2-img {
    position: relative;
    right: 180px;
    top: -70px;
}

.mountain1-img {
    position: relative;
    top: -138px;
    left: 170px;
}

.mountain2-img {
    position: relative;
    top: -30px;
}

.social-media {
    width: 60px;
    height: auto;
}
